* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-list {
  padding-top: 2vh;
  background-color: #5bb5f8;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh 2vw;
}

.card-wrapper {
  background-color: #ffd543;
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.2em;
  box-shadow: 1px 9px 5px 0px rgba(92, 91, 91, 0.75);
}

.user-photo {
  margin-top: 1.2em;
}

.user-photo > img {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  box-shadow: 1px 9px 5px 0px rgba(92, 91, 91, 0.75);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.links-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 0.7em;
}

.link {
  display: inline-block;
}

.link img {
  height: 1.8em;
  width: 1.8em;
}

.user-statistic {
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10% 25%;
}

.statistic-item {
  flex-basis: 30%;
}

.statistic-item > p:first-child {
  font-weight: 800;
  font-size: 1.3em;
}
